streamlit
pandas
scikit-learn
openai
openpyxl
xlsxwriter
PyPDF2==3.0.1
groq
graphviz
streamlit-mermaid
streamlit_agraph
google-generativeai==0.5.4
google-cloud-aiplatform
fpdf2
requests
python-docx
qrcode
langchain
langchain-openai
langchain-community
faiss-cpu
tiktoken
plotly
pygwalker
sweetviz
dtale
ydata-profiling
seaborn
matplotlib
